body {
  font-family:'Open Sans',  "Helvetica","Arial", sans-serif;
  font-style: normal;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  display:grid;
}

a{
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: blue;
  padding: 0 10px;
}

a:visited {
  color: #404022;
}

a:hover {
  color: red;
  border-style: solid;
  border-radius:8px;
  border-width:thin;
}

a:active {
  color: darkblue;
}

.logo {
  margin: auto;
  border-radius: 8px;
  max-width:200px;
  width: auto;
  height: auto;
}

.noMargin{
  margin: 0;
}

.foto{
  width: 100%;
}

.cabecalho {
}

.bgComImagem{
  background-image: url('../imagens/bgimg.jpg');
  z-index: -1;
}

.whiteBg{
  background-color: white;
  width: 100%;
  margin: 0;
}

.spaced{
  margin: 1rem;
}

.textoCorpoClinico{
  width: 75%;
  margin: 5rem auto;
  text-align: left;
}

.textoExames{
  max-width: 75%;
  background-color: lightgrey;
  border-radius: 15px;
  padding: 10px 10px 10px 25px;
  margin: auto;
}

.bgGradiente{
  background: linear-gradient(to bottom, #B0C8EC 0%, #00c8ec 90%, #0c7b93 100%);
  min-height: 500px;
}
